$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?ebb27e7bd2a875e3a7e969fad1cec2b4") format("truetype"),
url("./flaticon.woff?ebb27e7bd2a875e3a7e969fad1cec2b4") format("woff"),
url("./flaticon.woff2?ebb27e7bd2a875e3a7e969fad1cec2b4") format("woff2"),
url("./flaticon.eot?ebb27e7bd2a875e3a7e969fad1cec2b4#iefix") format("embedded-opentype"),
url("./flaticon.svg?ebb27e7bd2a875e3a7e969fad1cec2b4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "agriculture": "\f101",
    "bolsa-de-semillas": "\f102",
    "grano-de-trigo": "\f103",
    "granos-de-cafe": "\f104",
);

.flaticon-agriculture:before {
    content: map-get($flaticon-map, "agriculture");
}
.flaticon-bolsa-de-semillas:before {
    content: map-get($flaticon-map, "bolsa-de-semillas");
}
.flaticon-grano-de-trigo:before {
    content: map-get($flaticon-map, "grano-de-trigo");
}
.flaticon-granos-de-cafe:before {
    content: map-get($flaticon-map, "granos-de-cafe");
}
